.aboutProduct__desc {
    font-size: 18px;
    font-family: 'Poppins-Light';
    line-height: 28px;
    margin-bottom: 38px;
}
.aboutProduct__list {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 28px;
}
.aboutProduct__list.row {
    flex-direction: row;
    column-gap: 4px;
}
.aboutProduct__border {
    height: 28px;
    width: 28px;
    background-color: transparent;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.aboutProduct__border.selected {
    border-color: #0156FF;
}
.aboutProduct__color {
    height: 21px;
    width: 21px;
    border-radius: 50%;
}